*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
  }
  
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-image: url("./assets/assembler-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
  
.center{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

h1{
    font-size: 3vw;
    margin: 10% 0 1% 0;
}

#timer{
    font-size: 9vw;
    font-weight: bold;
}

.names{
    font-size: 0.3vw;
}